<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static "css/styles.css"%}">
    <title>Django Orm</title>
    
</head>
<body>
 
    

    
    <div align="center">
    <h1>Employee Details</h1>
    <table border="1">
        <thead>
            <th>sl.no</th>
            <th>Employee Number</th>
            <th>Employee Name</th>
            <th>Employee Salary</th>
            <th>Employee Address</th>

        </thead>
        {%for employee in employees%}
        <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.eno}}</td>
            <td>{{employee.ename}}</td>
            <td>{{employee.esal}}</td>
            <td>{{employee.eaddrs}}</td>

        </tr>
        {%endfor%}
    </table>
</div>
    
</body>
</html>